/*====================================== reset.css is here ========================================*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0;}
table {	border-collapse:collapse; border-spacing:0;}
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal; font-weight:normal;}
ol,ul { list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {	font-size:100%;	font-weight:bold;}
q:before,q:after {content:'';}
abbr,acronym { border:0;}
.clear{clear:both; font-size:1px;line-height:1px; display:block; height:0;}
.clrflt{clear:both;}
.last	{margin:0 !important;}
.pad_last{padding:0 !important;}
.no_bg {background:none !important;}
.no_bor{border:none !important; }
*{box-sizing:border-box; }
/**************************************************************************************/
a				{color:#000; text-decoration:none; outline:0 none;}
a:hover			{color:#000;  text-decoration:none;}
h1				{font-size:24px;}
h2				{font-size:22px;}
h3				{font-size:18px;}
h4				{font-size:16px;}
h5				{font-size:14px;}
h6				{font-size:12px;}
/*----------------------------------------------------------------------------------*/
html			{height:100%;}
body			{color:#b1b1b1; font-family:"Arial", Verdana, Tahoma; font-size:12px;background-color:#fff;height:100%;}
.flt_lt			{float:left !important; display:inline;}
.flt_rt			{float:right !important; display:inline;}
a:hover, a:focus{text-decoration:none; outline:0 none;}
figure {margin:0;padding:0;}
header,nav,section,article,aside,footer,hgroup {display: block;}
input{ -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none;-o-appearance: none; appearance: none; border-radius:0; }
/*----------------------------------------------------------------------------------*/



@font-face {
  font-family: 'Futura-Light';
  src: url('../fonts/Futura-Light/Futura-Light.eot') format('embedded-opentype'),
  	   url('../fonts/Futura-Light/Futura-Light.woff') format('woff'), 
	   url('../fonts/Futura-Light/Futura-Light.ttf')  format('truetype'), 
	   url('../fonts/Futura-Light/Futura-Light.svg#Futura-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'FuturaBookBook';
    src: url('../fonts/Futura-Book/futura-book.eot');
    src: url('../fonts/Futura-Book/futura-book.eot') format('embedded-opentype'),
         url('../fonts/Futura-Book/futura-book.woff') format('woff'),
         url('../fonts/Futura-Book/futura-book.ttf') format('truetype'),
         url('../fonts/Futura-Book/futura-book.svg#FuturaBookBook') format('svg');
}
/* ----------------------- layout ----------*/
.wrapper					{margin:0 auto; padding:0; /*max-width:1300px;*/  width:100%;height:100%; position:relative;left:0; transition:all ease-in-out .2s; -moz-transition:all ease-in-out .2s; -ms-transition:all ease-in-out .2s; -o-transition:all ease-in-out .2s; -webkit-transition:all ease-in-out .2s;overflow:hidden;}
.wrapper1					{height:auto;}
.container					{width:1140px;margin: 0 auto;display:block; }

.logo						{display:none;}
.navigetion					{display:none;}
/* ----------------------- header ----------*/
.header						{display:block; margin:0; padding:0; position:relative;}
.top-section				{display:block; margin:0; padding:4px 17px 4px 19px; background:#231f20;}
.top-left					{display:inline-block; margin:0; padding:6px 0 0; float:left;}
.top-left a					{display:inline-block; margin:0 17px 0 0; padding:0; font-family: 'Hind Vadodara', sans-serif; font-size:11px; color:#e6e6e8; font-weight:normal; float:left; letter-spacing:0.7px; text-decoration:underline;}
.text-fld1					{display:inline-block; margin:-5px 0 0 0; float:left; padding:0;  width:0; height:19px; line-height:19px; font-family: 'Hind Vadodara', sans-serif;font-size:9px;color:#231f20;font-weight:300;text-transform:uppercase; border:0;  transition:all ease-in-out .2s; -moz-transition:all ease-in-out .2s; -ms-transition:all ease-in-out .2s; -o-transition:all ease-in-out .2s; -webkit-transition:all ease-in-out .2s;}
.text-fld1.active			{width:200px; display:inline-block;padding:0 10px;border:1px solid #b6b4b5;}
.top-right					{display:inline-block; margin:0; padding:0; float:right;}
.top-right p				{text-align:right; display:inline-block; margin:0 24px 0 0; padding:0; font-family: 'Hind Vadodara', sans-serif; font-size:11px; color:#e6e6e8; font-weight:500; float:left; line-height:11px; letter-spacing:-0.1px;}
.top-right a				{display:inline-block; margin:0; padding:7px 4px 0px; font-family: 'Hind Vadodara', sans-serif; font-size:9px; color:#58595b; font-weight:normal; float:left; background:url(../images/icon2.png) no-repeat center top;}
/* ----------------------- header end ----------*/
/* --------------nav ----------*/
.menu						{display:none;}
.nav-main					{display:block; margin:0; padding:15px 0 0; position:absolute; z-index:9999; top:100%; width:100%;}
.nav						{display:block;margin:0 auto;padding:0; width:799px; }
.nav ul						{display:inline-block; margin:0; padding:0; float:left;}
.nav ul li					{display:inline-block;margin:0 50px 0 0;padding:0 0 6px; position:relative; }
.nav ul li a				{display:block;margin:0;padding:0;font-family: 'FuturaBookBook'; font-size:11px; color:#231f20; text-transform:uppercase; }
.nav ul li:hover			{text-decoration:underline;}

.nav ul li ul				{display:block; margin:0; padding:0; width:124px; position:relative; z-index:1; }
.nav ul li ul li{display:block; float:none; margin:0; padding:0}
.nav ul li ul li a			{display:inline-block; margin:0;padding:0;font-family: 'Hind Vadodara', sans-serif; font-size:11px; color:#231f20; font-weight:300; text-transform:uppercase; line-height:20px; }

.sub-menu					{display:none;margin:0 auto;padding:12px 0 17px;  width:769px;position:absolute; left:0; top:100%; z-index:999;}
.nav ul li:hover .sub-menu	{display:block;}
.sub-menu:after				{content:''; position:absolute; top:0; left:-150em; width:400em; height:100%; background:rgba(255, 255, 255, 0.81);  border-top:1px solid #d5d5d5}

/* ------------------Icon 1 ------------------ */
.nav-icon 					{width:25px; height:26px; margin: 0;-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-o-transform: rotate(0deg);	transform: rotate(0deg);-webkit-transition: .5s ease-in-out;-moz-transition: .5s ease-in-out;-o-transition: .5s ease-in-out;transition: .5s ease-in-out;	cursor: pointer;display:none;z-index: 99;}
.nav-icon span 				{display: block;position: absolute;height:4px;width: 100%;background:#231f20;border-radius:0px;opacity: 1;left: 0;-webkit-transform: rotate(0deg);	-moz-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg);-webkit-transition: .25s ease-in-out;-moz-transition: .25s ease-in-out;-o-transition: .25s ease-in-out;transition: .25s ease-in-out;}
.nav-icon span:nth-child(1) {top: 0px;}
.nav-icon span:nth-child(2) {top: 8px;}
.nav-icon span:nth-child(3) {top: 16px;}
.nav-icon.open span:nth-child(1) {top:9px;-webkit-transform: rotate(135deg);-moz-transform: rotate(135deg);-o-transform: rotate(135deg);transform: rotate(135deg);}
.nav-icon.open span:nth-child(2) {opacity: 0;left: -60px;}
.nav-icon.open span:nth-child(3) {top: 9px;-webkit-transform: rotate(-135deg);	-moz-transform: rotate(-135deg);-o-transform: rotate(-135deg);	transform: rotate(-135deg);}
/* --------------nav end----------*/
.banner						{display:block; margin:0; padding:0; background:#fff; height:calc(100% - 60px);}
.banner ul					{height:100%; background:none !important;}
.banner ul li				{height:100%;}
.banner img					{display:block; width:100%; height:auto;}
.banner-cont				{display:inline-block; margin:17.4% 0 0 10%; padding:0; float:left; text-align:center; width:315px;}
.banner-cont h1				{display:block; margin:0; padding:0 0 10px 0;font-family: 'Hind Vadodara', sans-serif; font-size:40px; color:#231f20; font-weight:normal; line-height:40px; letter-spacing:1px; text-transform:uppercase;}
.banner-cont p				{display:block; margin:0; padding:0 0 23px 0;font-family: 'Hind Vadodara', sans-serif; font-size:15px; color:#231f20; font-weight:300; line-height:18px;}
.banner-cont a				{display:inline-block; margin:0; padding:3.7px 0 7px; background:#231f20;font-family: 'Hind Vadodara', sans-serif; font-size:12px; color:#ffffff; font-weight:bold; text-transform:uppercase; width:113px; text-align:center;border:1px solid #231f20;transition:all ease-in-out .2s; -moz-transition:all ease-in-out .2s; -ms-transition:all ease-in-out .2s; -o-transition:all ease-in-out .2s; -webkit-transition:all ease-in-out .2s;}
.banner-cont a:hover{background:#fff; color:#231f20;}
.banner .owl-controls		{text-align:center; position:absolute; left:0; right:0; bottom:81px; z-index:999;}
.banner .owl-carousel .owl-controls .owl-dot, .owl-carousel .owl-controls .owl-nav .owl-next, .owl-carousel .owl-controls .owl-nav .owl-prev{cursor: pointer;	width:10px; height:10px; border-radius:100%; background-color:#fff; display:inline-block; margin:0 7px;}
.banner .owl-dot.active		{background-color:#999 !important;}

/* --------------footer----------*/
.footer						{display:block; margin:0; padding:0; background-color:#fff; width:100%; position:absolute; bottom:0; left:0; z-index:9999;}
.footer-in					{display:block; margin:0 auto; padding:4px 0; width:80%; position:relative;}
.fot-nav					{display:inline-block; margin:0; padding:0;}
.fot-nav ul					{}
.fot-nav ul li				{display:inline-block;margin:0;padding: 0 5px 0 5px;float:left;background:url(../images/line.jpg) no-repeat right center; line-height:20px;}
.fot-nav ul li a			{display:inline-block;margin:0;padding:0;font-family: 'Hind Vadodara', sans-serif;font-size:9px;color:#231f20;font-weight:600;text-transform:uppercase;letter-spacing: 0.9px;}
.icons{display:inline-block; margin:0; padding:6px 0 0; float:right;}
.icons ul					{}
.icons ul li				{display:inline-block; margin:0 0 0 6px; padding:0; float:left;font-family: 'Hind Vadodara', sans-serif;font-size:9px;color:#231f20;font-weight:600;text-transform:uppercase;letter-spacing: 0.9px;}
.icons ul li a				{display:inline-block; margin:0; padding:0;}

.text-box					{position:absolute; right:-10.4%; top:-41px;}
.text-fld					{display:inline-block; margin:0; padding:0 10px; width:260px; height:24px; line-height:24px; font-family: 'Hind Vadodara', sans-serif;font-size:9px;color:#231f20;font-weight:300;text-transform:uppercase; border:1px solid #b6b4b5; }
.text-box span				{display:inline-block; margin:0 0 0 6px; padding:0; font-family: 'Hind Vadodara', sans-serif;font-size:23px;color:#231f20;font-weight:bold; vertical-align:middle;}

/* ------------------inner1------------------ */
.inner-banner				{display:table; width:100%; margin:0; padding:0; height:387px;}
.inner-banner-in			{margin: 0 auto;display:block; height:100%; display:table-cell; vertical-align:middle;}
.title						{display:inline-block; margin:0 0 0 12%; padding:0;}
.title h2					{display:block; margin:0; padding:0; font-family: 'Hind Vadodara', sans-serif;font-size:30px;color:#040000;font-weight:300; text-transform:uppercase; letter-spacing:3px;}

.main-section				{display:block; margin:0; padding:29px 0;}
.block_main					{margin:0 -9px; font-size:0;}
.block						{display:inline-block; margin:0 0 44px; padding:0 8.8px; width:33.3%;vertical-align:top;}
.block-in					{display:block; margin:0 0 8px 0; padding:0; position:relative;}
.block-in figure			{display:block; margin:0; padding:0;}
.block-in figure img		{display:block; width:100%; height:auto;}

.block p					{display:inline-block; margin:0; padding:0; font-family: 'Hind Vadodara', sans-serif;font-size:13px;color:#231f20;font-weight:normal; line-height:15px; float:left; word-spacing:3px;}
.block p em					{font-style:italic;}
.block small				{display:inline-block; margin:0; padding:0; font-family: 'Hind Vadodara', sans-serif;font-size:13px;color:#231f20;font-weight:normal; line-height:15px; float:right;}

.wrapper1 .footer			{position:static;}

.left-bolck					{display:inline-block; margin:0; padding:0 8.8px; width:66.7%;vertical-align:top;}
.left-bolck .block			{float:none; display:inline-block; width:100%; margin:0 0 44px; padding:0}
.right_block				{display:inline-block; margin:0; padding:0 8.8px; width:33.3%; vertical-align:top;}
.right_block .block			{float:none; display:inline-block; width:100%; margin:0; padding:0 0 12%;}

.hover-block				{padding:17px 17px; display:none; margin:0;width:100%; position:absolute; left:0; top:0;height:100%;}
.icon						{display:inline-block; margin:0; padding:0; float:right; background:#fff; border-radius:100%; width:22px; height:21px;}
.icon a						{display:inline-block; margin:0; padding:5px 5px 4px;}
.icon img					{display:block;}

.sizes-block-main			{display:table; margin:0; padding:0; background:#dddddd; height:36px; text-align:center; width:100%; position:absolute; bottom:0px;}
.tbl						{display:table; height:100%; position:relative; width:100%;}
.sizes-block				{display:table-cell; vertical-align:middle; height:100%;}
.sizes-block a				{display:inline-block; margin:0; padding:0;font-family: 'Hind Vadodara', sans-serif;font-size:12px;color:#231f20;font-weight:normal; text-transform:uppercase; cursor:pointer;}
.sizes-block ul				{display:table; height:100%; margin:0 auto;}
.sizes-block ul li			{display:table-cell; vertical-align:middle; margin:0; padding:0px;height:100%; cursor:pointer;}
.sizes-block ul li a		{padding:0 9px; display:table-cell; vertical-align:middle;font-family: 'Hind Vadodara', sans-serif;font-size:9px;color:#231f20;font-weight:normal; }
.sizes-block ul li a span	{display:block; margin:0; padding:0;font-size:12px; text-transform:uppercase;}
.sizes-block ul li:hover	{background:#b1b3b6;}
.block:hover .hover-block	{display:block;}
/* ------------------inner1 end------------------ */
.main-section-inner2		{display:block; margin:0; padding:119px 0 48px;}
.left-section				{display:inline-block; margin:0; padding:0; float:left; width:58%;}

.left-section .slider		{padding:0; display:inline-block; margin:0; padding:0; float:right; width:85.30%; position:relative;}
.left-section .slick-slider img		{padding:0;width:100%; height:auto; }
.left-section button{display:none !important;}
.left-section .slider span	{background:#fff;border-radius:100%;width: 28px;height: 29px;display:inline-block;position:absolute;right: 23px;top: 17px;cursor:pointer;font-family: 'Hind Vadodara', sans-serif;font-size:21px;color:#231f20;font-weight:600;line-height: 27px;padding: 0 8.5px;}
.left-section .slider-nav{display:inline-block; margin:0; padding:0; float:left; width:13.9%;}
.left-section .thumb-slider .slick-slide				{padding:0 0 3.5px; outline:none; width:auto !important; display:block; cursor:pointer;}
.left-section .thumb-slider .slick-slide img			{width:100%; height:auto; }
.left-section .thumb-slider .slick-slide	{}
.left-section .thumb-slider .slick-current	{opacity:0.7;}


.items-block				{display:block; margin:28px 0; padding:0; width:85.3%; float:right;}
.items-block ul				{display:block; margin:0 -7.5px; padding:0;}
.items-block ul li			{display:inline-block; margin:0; padding:0 7.5px; width:33.3%; float:left;}
.block1						{display:block; margin:0; padding:0;}
.block1 img					{display:block;margin:0; padding:0;}
.block1 p					{display:block; margin:0; padding:10px 20px 10px 0;font-family: 'Hind Vadodara', sans-serif;font-size:13px;color:#231f20;font-weight:300; line-height:15px;}
.block1 p em					{font-style:italic;}
.block1 small				{display:inline-block; margin:0; padding:0; font-family: 'Hind Vadodara', sans-serif;font-size:13px;color:#231f20;font-weight:normal; line-height:15px; float:right;}

.price{display:block; margin:0; padding:10px 0;}
.price p					{display:block; margin:0; padding:0;font-family: 'Hind Vadodara', sans-serif;font-size:13px;color:#231f20;font-weight:300; line-height:15px; float:left;}
.price p em					{font-style:italic;}
.price small				{display:inline-block; margin:0; padding:0; font-family: 'Hind Vadodara', sans-serif;font-size:13px;color:#231f20;font-weight:normal; line-height:15px; float:right;}


.items-block h3				{display:block; margin:0 0 5px 0; padding:0;font-family: 'Hind Vadodara', sans-serif;font-size:13px;color:#231f20;font-weight:600; line-height:21px; text-transform:uppercase;}


.items-block1				{display:block; margin:29px 0; padding:0; width:100%;}
.items-block1 ul			{display:block; margin:0; padding:0;}
.items-block1 ul li			{display:inline-block; margin:0; padding:0 13px 0 0; width:25%; float:left;}
.block1						{display:block; margin:0; padding:0; position:relative;}
.block1 img					{display:block;margin:0; padding:0; width:100%; height:auto;}
.items-block1 h3			{display:block; margin:0 0 7px 0; padding:0;font-family: 'Hind Vadodara', sans-serif;font-size:13px;color:#231f20;font-weight:600; line-height:21px; text-transform:uppercase;}

.left-section .block1 span	{background:#fff;border-radius:100%;width:28px;height:29px;display:inline-block;position:absolute;right:15px;top:15px;cursor:pointer;font-family: 'Hind Vadodara', sans-serif;font-size:21px;color:#231f20;font-weight:600;line-height:27px;padding:0 8.5px;}


.right-section				{display:inline-block; margin:0; padding:0 0 0 28px; float:left; width:42%;}
.right-topblock				{display:inline-block; margin:-4px 0 0; padding:0 0 32px 0; text-align:center; border-bottom:1px solid #666666; width:77%;}
.right-topblock h4			{display:block; margin:0; padding:0 0 21px 0;font-family: 'Hind Vadodara', sans-serif;font-size:18px;color:#231f20;font-weight:300; line-height:22px; text-transform:uppercase;}
.colors						{display:block; margin:0 0 24px 0; padding:0;}
.colors span				{display:block; margin:0; padding:0 0 9px 0;font-family: 'Hind Vadodara', sans-serif;font-size:13px;color:#77787b;font-weight:500; line-height:20px; text-transform:uppercase;}
.colors span small			{font-weight:300; color:#231f20; font-size:13px; text-transform:capitalize;}
.colors a					{display:inline-block; margin:0 7px; padding:1px 1px; border-radius:100%; width:29px; height:29px;border:1px solid #fff;transition:all ease-in-out .2s; -moz-transition:all ease-in-out .2s; -ms-transition:all ease-in-out .2s; -o-transition:all ease-in-out .2s; -webkit-transition:all ease-in-out .2s;}

.colors a:before			{content:''; border:1px solid #fff;background:#b7b7b7; width:23px; height:23px; border-radius:100%; display:inline-block;}
.colors a:hover, .colors a.active{border:1px solid #b7b7b7;}

.size-chart					{display:block; margin:0 0 24px 0; padding:0;}
.size-chart1{display:block; margin:0 auto 20px; width:200px;}
.size-chart h3 				{display:inline-block; margin:0 0 33px 0; padding:0;font-family: 'Hind Vadodara', sans-serif;font-size:11px;color:#231f20;font-weight:normal; text-decoration:underline; text-transform:uppercase; cursor:pointer;}
.size-chart span 			{display:block; margin:0 0 2px 0; padding:0;font-family: 'Hind Vadodara', sans-serif;font-size:13px;color:#77787b;font-weight:500; text-transform:uppercase;}
.size-chart ul				{}
.size-chart ul li			{display:inline-block; margin:0 5px; padding:0;}
.size-chart ul li a			{display:inline-block; margin:0; padding:2px 0;text-align:center; font-family: 'Hind Vadodara', sans-serif;font-size:13px;color:#77787b;font-weight:500; text-decoration:underline; text-decoration:none; border:1px solid #fff; width:25px;}
.size-chart ul li a:hover, .size-chart ul li a.active	{border:1px solid #77787b;}

.btn						{display:inline-block; margin:0 0 8px 0; padding:0;font-family: 'Hind Vadodara', sans-serif;font-size:14px;color:#fff;font-weight:300; text-transform:uppercase; border:1px solid #231f20; background:#231f20; width:198px; height:31px; line-height:31px;transition:all ease-in-out .2s; -moz-transition:all ease-in-out .2s; -ms-transition:all ease-in-out .2s; -o-transition:all ease-in-out .2s; -webkit-transition:all ease-in-out .2s;}
.btn:hover					{background:none;}
.btn1						{display:inline-block; margin:0; padding:0;font-family: 'Hind Vadodara', sans-serif;font-size:14px;color:#231f20;font-weight:300; text-transform:uppercase; border:1px solid #aaaaaa;width:198px; height:31px; line-height:31px;transition:all ease-in-out .2s; -moz-transition:all ease-in-out .2s; -ms-transition:all ease-in-out .2s; -o-transition:all ease-in-out .2s; -webkit-transition:all ease-in-out .2s;}
.btn1:before				{content:''; background:url(../images/icon8.png) no-repeat left center; vertical-align:middle; margin:0 3px 1px; display:inline-block; width:10px; height:10px; background-size:100% 100%;}
.btn1:hover					{border:1px solid #77787b;}

.details					{display:block; margin:0; padding:18px 0;}
.details h3					{display:block; margin:0 0 7px 0; padding:0;font-family: 'Hind Vadodara', sans-serif;font-size:13px;color:#231f20;font-weight:300; text-transform:uppercase;}
.details p					{display:block; margin:0; padding:0 0 23px;font-family: 'Hind Vadodara', sans-serif;font-size:13px;color:#231f20;font-weight:300; line-height:22px;}
.details p a				{font-weight:500; text-decoration:underline;}
.details p a.mail			{font-weight:300; text-decoration:none;}
.details a.review			{font-weight:300; text-transform:uppercase;color:#231f20;font-family: 'Hind Vadodara', sans-serif; font-size:13px; text-decoration:underline;}
.details a:hover			{text-decoration:none;}

#html5-lightbox-box{margin:0 !important; height:100% !important;}
#html5-lightbox-box, #html5-elem-wrap{width:100% !important; height:100% !important; overflow:hidden !important;}
#html5-image-container img{width:100%;}
#html5-watermark{display:none !important;}
#html5-elem-data-box{display:none !important;}
#html5-close{margin:0 !important; top:20px !important; right:20px !important;}
.html5-next-fullscreen, .html5-prev-fullscreen{display:block !important;}


.shop-section{position:relative;background-color:#fff;padding:0 0 60px}
.shop-section .left{width:50%;float:left}
.shop-section .left .top .left{width:50%;font-size:0}
.shop-section .video-box{width:100%;height:100%}

.shop-section a{display:inline-block; vertical-align:top;}
.shop-section .left .top .right{width:50%;background-image:url(../images/shop-seasons.jpg)}
.shop-section .left .top .right:after{content:'';display:block;padding-bottom:100%}
.shop-section .box.link-box .shop-link-wrapper{position:absolute;top:0;left:0;width:100%;height:100%;display:-webkit-box;display:-moz-box;display:box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-moz-box-pack:center;box-pack:center;-webkit-justify-content:center;-moz-justify-content:center;-ms-justify-content:center;-o-justify-content:center;justify-content:center;-ms-flex-pack:center;-webkit-box-align:center;-moz-box-align:center;box-align:center;-webkit-align-items:center;-moz-align-items:center;-ms-align-items:center;-o-align-items:center;align-items:center;-ms-flex-align:center}
.shop-section .box.link-box .shop-link-wrapper .shop-link{color:#fff;font-family:'HurmeGeometricSans3-Bold',Helvetica,Arial,sans-serif;font-size:30px;text-decoration:none;border-bottom:3px solid #fff;-webkit-transition:border-color 300ms ease;-moz-transition:border-color 300ms ease;transition:border-color 300ms ease}
.shop-section .right{width:50%;float:left}
.shop-section .right .bottom{display:-webkit-box;display:-moz-box;display:box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex}
.shop-section .right .bottom .left{width:50%;font-size:0}
.shop-section .right .bottom .right{width:50%;background-image:url(../images/shop-sheep.jpg)}.shop-section .box{position:relative;background-repeat:no-repeat;background-position:center;background-size:cover}
.shop-section .box img{width:100%; height:auto; display:block;}


.drawer {display: inline-block; position: fixed;overflow-y: auto;overflow-x: hidden;-webkit-overflow-scrolling: touch;top: 0;right:-300px;bottom: 0;padding: 0 15px 15px; width:300px;z-index: 10;color: #fff;background-color: #1c1d1d;transition:all ease-in-out .2s; -moz-transition:all ease-in-out .2s; -ms-transition:all ease-in-out .2s; -o-transition:all ease-in-out .2s; -webkit-transition:all ease-in-out .2s;}

.title1{display:block; margin:0; padding:20px 0;border-bottom:1px solid #999; position:fixed; width:270px;background-color: #1c1d1d;}
.title1 h3{display:inline-block; margin:0; padding:0;font-family: 'Hind Vadodara', sans-serif; font-size:30px; color:#fff; text-transform:capitalize; float:left; font-weight:normal;}
a.close{display:inline-block; margin:0; padding:0; float:right;font-family: 'Hind Vadodara', sans-serif; font-size:30px; color:#fff;}

.drawer ul{display:block; margin:86px 0 0; }
.drawer ul li{display:block; margin:0; padding:15px 0; border-bottom:1px solid #999;}
.left-img{display:inline-block; margin:0; padding:0; float:left; width:69px; height:97px;}
.left-img img{width:100%; height:auto;}
.right-cont{display:inline-block; margin:0; padding:0 0 0 10px; float:left;}
.right-cont a{display:block; margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#fff; font-weight:normal;}
.right-cont p{display:block; margin:10px 0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#fff; font-weight:normal;}

.right-cont p.add-block{border:1px solid #999; display:inline-block; float:left; margin:0;}
.qty{width:30px; border:0; background:none;font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#fff; text-align:center;}
.add-block span{display:inline-block; margin:0; padding:0 5px; font-family:Arial, Helvetica, sans-serif; font-size:20px; color:#fff; line-height:normal; cursor:pointer;}
.right-cont small{display:inline-block; margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:20px; color:#fff; line-height:normal; float:right;}
.minus{border-right:1px solid #999;}
.add{border-left:1px solid #999;}


.payment{display:block; padding:10px 0;}
.two-thirds {float:left;}
.two-thirds p {font-family:Arial, Helvetica, sans-serif;font-weight: bold;font-size:15px;font-style: normal;letter-spacing: 0.1em;text-transform: uppercase;}

.text-right {float:right;}
.text-center {text-align: center !important; font-family:Arial, Helvetica, sans-serif;font-size:15px; opacity:0.7; margin:10px 0;}

.drawer .btn--secondary{background:#fff; display:block; width:100%; border:0; padding:10px;font-family:Arial, Helvetica, sans-serif;font-size:15px; text-transform:uppercase; margin:0 0 10px; cursor:pointer;}
.drawer .btn--secondary:hover{background:#ccc;}
.additional-checkout-button--paypal-express {background-color: #ffc439 !important;color: #000 !important; border:0; border-radius:5px; padding:10px 10px;cursor:pointer;}
.additional-checkout-button span, .additional-checkout-button img {display: inline-block !important;height: 1.3em !important; margin: 0 0 0 0.15em !important; vertical-align: middle !important; width: auto !important;}



.open1 .drawer{right:0;}

.open1 .wrapper{left:-300px;}



























