
@font-face {
  font-family: 'Futura-Normal';
  src: url('Futura-Normal.eot?#iefix') format('embedded-opentype'),  url('Futura-Normal.woff') format('woff'), url('Futura-Normal.ttf')  format('truetype'), url('Futura-Normal.svg#Futura-Normal') format('svg');
  font-weight: normal;
  font-style: normal;
}
